/* style.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-image: linear-gradient(135deg, #ff416c, #3a8dde);
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  padding: 20px;
  text-align: center;
}

header h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: black;
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: capitalize;
  
} 



.gallery-container {
  display: flex;
  justify-content: center;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  width: 100%;
  max-width: 1200px;
  padding: 10px;
}

.gallery img {
  width: 100%;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.gallery img:hover {
  transform: scale(1.05);
  box-sizing: border-box;
  box-shadow: 0px 20px 20px  rgba(0, 0, 0, 0.962);
}

.gallery img {
  width: 100%;
  height: 200px; /* fixed height for all images */
  object-fit: cover; /* keeps aspect ratio and fills box */
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  margin-top: 20px;
}
/* Lightbox Styles */
.lightbox {
  display: none;
  position: fixed;
  z-index: 100;
  left: 5px;
  top: 3px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  justify-content: center;
  align-items: center;
}

.lightbox img {
  max-width: 90%;
  max-height: 80%;
  border-radius: 10px;
}

.lightbox .close {
  position: absolute;
  top: 30px;
  right: 50px;
  color: white;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}
/* Navigation arrows */
.nav {
  position: absolute;
  top: 50%;
  font-size: 40px;
  color: white;
  padding: 10px;
  cursor: pointer;
  user-select: none;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  transform: translateY(-50%);
  transition: background 0.2s;
}

.nav:hover {
  background: rgba(255, 255, 255, 0.2);
}

.prev {
  left: 30px;
}

.next {
  right: 30px;
}

